* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-header {
  margin: 20px 0;
  display: flex;
  margin: 7px;
  background-color: coral;
  border-radius: 7px;
  border: coral 1 px solid;
  align-content: flex-end;
  justify-content: space-between;
}

.main-header-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header-items .main-header-item {
  padding: 25px;
  justify-content: center;
}

.bicycle{
  text-align: center;
}
.main-page-conteiner {
  display: flex;
}

.body-seperator {
  flex-direction: column;
  height: 100%;
  width: 2px;
}

.svg-icon {
  width: 25px;
  justify-content: center;
  align-items: center;
  margin: initial;
  padding: 0%;
}


.top{
  width: 570px;
  height: 570px
}
.content-image {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

.content-image img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.content-image img.top:hover {
  opacity:0;
}           

.main-footer{
  margin-top: 315px;
  position: relative;
  display: block;
  text-align: center;
}