* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/images.jpg");

  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  body{
    background-color: #bbb;
    background-image: none;
  }
}
.main-header {
  display: flex;
  margin: 7px;
  background-color: coral;
  border-radius: 7px;
  border: coral 1 px solid;
  align-content: flex-end;
  justify-content: space-between;
}

.main-header-items {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.main-header-items .main-header-item {
  padding: 15px;
}

.main-footer {
  text-align: center;
}

.main-page-conteiner {
  display: flex;
  border-bottom: lawngreen 2px solid;
}

.body-seperator {
  flex-direction: column;
  height: 100%;
  width: 2px;
}
